Name:Samiksha Kamble
Task 01: Data analysis on global terrorism
Finding out the hot zone in terrorism

In [1]:
#Importing libraries
import pandas as pd
import numpy as np

In [2]:
#reading dataset
df = pd.read_csv("globalterrorismdb_0718dist.csv",encoding="latin1")
df.head()

C:\Users\Samiksha Kamble\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [3]:
#shape of dataset
df.shape

(181691, 135)

In [4]:
df.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [8]:
df.isnull().sum()

eventid            0
iyear              0
imonth             0
iday               0
approxdate    172452
               ...
INT_LOG            0
INT_IDEO           0
INT_MISC           0
INT_ANY            0
related       156653
Length: 135, dtype: int64

In [11]:
drop_col = df.isnull().sum()[df.isnull().sum()>(40/100 * df.shape[0])]
drop_col

approxdate         172452
resolution         179471
location           126196
alternative        152680
alternative_txt    152680
                    ...
nreleased          171291
addnotes           153402
scite2             104758
scite3             138175
related            156653
Length: 77, dtype: int64

In [12]:
drop_col.index

Index(['approxdate', 'resolution', 'location', 'alternative',
       'alternative_txt', 'attacktype2', 'attacktype2_txt', 'attacktype3',
       'attacktype3_txt', 'targtype2', 'targtype2_txt', 'targsubtype2',
       'targsubtype2_txt', 'corp2', 'target2', 'natlty2', 'natlty2_txt',
       'targtype3', 'targtype3_txt', 'targsubtype3', 'targsubtype3_txt',
       'corp3', 'target3', 'natlty3', 'natlty3_txt', 'gsubname', 'gname2',
       'gsubname2', 'gname3', 'gsubname3', 'motive', 'guncertain2',
       'guncertain3', 'claimmode', 'claimmode_txt', 'claim2', 'claimmode2',
       'claimmode2_txt', 'claim3', 'claimmode3', 'claimmode3_txt', 'compclaim',
       'weaptype2', 'weaptype2_txt', 'weapsubtype2', 'weapsubtype2_txt',
       'weaptype3', 'weaptype3_txt', 'weapsubtype3', 'weapsubtype3_txt',
       'weaptype4', 'weaptype4_txt', 'weapsubtype4', 'weapsubtype4_txt',
       'propextent', 'propextent_txt', 'propvalue', 'propcomment', 'nhostkid',
       'nhostkidus', 'nhours', 'ndays', 'divert', 'kidhijcountry', 'ransom',
       'ransomamt', 'ransomamtus', 'ransompaid', 'ransompaidus', 'ransomnote',
       'hostkidoutcome', 'hostkidoutcome_txt', 'nreleased', 'addnotes',
       'scite2', 'scite3', 'related'],
      dtype='object')

In [13]:
df.drop(drop_col.index,axis = 1,inplace=True)
df.isnull().sum()

eventid                 0
iyear                   0
imonth                  0
iday                    0
extended                0
country                 0
country_txt             0
region                  0
region_txt              0
provstate             421
city                  434
latitude             4556
longitude            4557
specificity             6
vicinity                0
summary             66129
crit1                   0
crit2                   0
crit3                   0
doubtterr               1
multiple                1
success                 0
suicide                 0
attacktype1             0
attacktype1_txt         0
targtype1               0
targtype1_txt           0
targsubtype1        10373
targsubtype1_txt    10373
corp1               42550
target1               636
natlty1              1559
natlty1_txt          1559
gname                   0
guncertain1           380
individual              0
nperps              71115
nperpcap            69489
claimed             66120
weaptype1               0
weaptype1_txt           0
weapsubtype1        20768
weapsubtype1_txt    20768
weapdetail          67670
nkill               10313
nkillus             64446
nkillter            66958
nwound              16311
nwoundus            64702
nwoundte            69143
property                0
ishostkid             178
scite1              66191
dbsource                0
INT_LOG                 0
INT_IDEO                0
INT_MISC                0
INT_ANY                 0
dtype: int64

In [14]:
df.corr()

,eventid,iyear,imonth,iday,extended,country,region,latitude,longitude,specificity,...,nkillter,nwound,nwoundus,nwoundte,property,ishostkid,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
eventid,1.000000,0.999996,0.002706,0.018336,0.091761,-0.135039,0.401371,0.166886,0.003907,0.030641,...,0.027579,0.015282,-0.029348,0.027904,-0.278927,-0.010146,-0.143600,-0.133252,-0.077852,-0.175605
iyear,0.999996,1.000000,0.000139,0.018254,0.091754,-0.135023,0.401384,0.166933,0.003917,0.030626,...,0.027563,0.015273,-0.029357,0.027879,-0.278916,-0.010159,-0.143601,-0.133253,-0.077847,-0.175596
imonth,0.002706,0.000139,1.000000,0.005497,-0.000468,-0.006305,-0.002999,-0.015978,-0.003880,0.003621,...,0.003462,0.002938,0.001467,0.005091,-0.005816,0.003397,-0.002302,-0.002034,-0.002554,-0.006336
iday,0.018336,0.018254,0.005497,1.000000,-0.004700,0.003468,0.009710,0.003423,-0.002285,-0.006991,...,-0.002012,-0.001268,0.001392,0.001812,-0.003903,0.004077,-0.001540,-0.001621,-0.002027,-0.001199
extended,0.091761,0.091754,-0.000468,-0.004700,1.000000,-0.020466,0.038389,-0.024749,0.000523,0.057897,...,0.005409,-0.006627,-0.002017,0.001592,-0.002096,0.326351,0.071768,0.075147,0.027335,0.080767
country,-0.135039,-0.135023,-0.006305,0.003468,-0.020466,1.000000,0.148597,0.178567,-0.000269,-0.084599,...,-0.010125,-0.003530,0.005762,-0.045330,0.032051,-0.013335,0.069904,0.067564,0.207281,0.153118
region,0.401371,0.401384,-0.002999,0.009710,0.038389,0.148597,1.000000,0.309274,0.004351,-0.084198,...,0.026296,0.020472,-0.020615,-0.025643,-0.183279,-0.023058,-0.082584,-0.071917,0.043139,-0.047900
latitude,0.166886,0.166933,-0.015978,0.003423,-0.024749,0.178567,0.309274,1.000000,0.001463,-0.018811,...,-0.003282,0.015988,0.008132,0.021855,-0.084537,-0.022468,-0.099827,-0.094470,0.097652,-0.041530
longitude,0.003907,0.003917,-0.003880,-0.002285,0.000523,-0.000269,0.004351,0.001463,1.000000,0.001065,...,-0.004713,0.000223,-0.028440,0.020186,-0.001231,0.000295,0.002272,0.002268,0.000371,0.002497
specificity,0.030641,0.030626,0.003621,-0.006991,0.057897,-0.084599,-0.084198,-0.018811,0.001065,1.000000,...,0.031097,-0.015764,-0.004464,0.047444,0.028111,0.016048,0.073022,0.071333,-0.019197,0.061389
vicinity,0.070646,0.070659,-0.004501,-0.005367,0.017784,-0.012291,0.073678,0.005844,0.000594,-0.049855,...,0.002129,-0.002435,-0.000791,-0.002611,-0.019811,0.004626,0.014487,0.015119,-0.008232,0.010325
crit1,0.002019,0.001995,0.001568,0.011434,-0.015029,-0.006646,0.025521,0.021533,-0.000258,0.014323,...,0.009744,0.006790,-0.003908,0.005940,-0.007595,-0.015465,0.089973,0.089888,0.015692,0.082288
crit2,0.026215,0.026211,0.001734,-0.002702,0.001249,-0.038480,-0.013163,-0.004104,-0.000200,0.000943,...,-0.004051,-0.002209,0.000765,-0.001182,-0.002711,0.001313,-0.024153,-0.023829,-0.012980,-0.027752
crit3,-0.016789,-0.016784,0.000176,-0.004889,0.048533,-0.040288,-0.010175,-0.001641,-0.000880,-0.072680,...,-0.094518,0.007281,-0.002521,-0.057427,0.013345,0.044759,-0.134557,-0.138251,-0.036112,-0.130216
doubtterr,0.298888,0.298920,-0.012477,0.002395,0.011638,0.038304,0.086832,0.068414,0.008296,0.041980,...,0.046715,0.019139,-0.000704,0.028143,-0.112490,-0.030694,0.230356,0.231789,0.022374,0.168947
multiple,0.093720,0.093736,-0.004422,-0.000395,-0.013440,-0.022218,0.011963,-0.024443,0.000950,0.036660,...,0.013517,0.011341,-0.003456,0.005962,-0.025458,-0.047815,0.124327,0.126013,-0.027084,0.095019
success,-0.082972,-0.082963,-0.002845,-0.011802,0.073233,-0.037827,-0.030909,-0.073715,-0.000858,0.015301,...,-0.019463,0.025804,0.004306,-0.012840,-0.036876,0.044760,0.059875,0.059183,-0.014906,0.038245
suicide,0.137743,0.137736,0.003071,0.003593,-0.033961,-0.050360,0.112672,0.068682,0.000486,-0.031921,...,0.099133,0.099525,0.005108,0.001780,-0.073382,-0.021752,0.058735,0.065882,-0.000879,0.057241
attacktype1,0.074173,0.074153,0.006705,-0.005333,0.272272,-0.021384,0.007642,0.010135,0.001554,0.056041,...,0.036918,0.000846,0.006210,0.029672,0.031976,0.176862,0.075002,0.077225,0.010632,0.088711
targtype1,0.079080,0.079082,-0.000948,-0.000052,0.011613,-0.019703,0.041396,-0.022805,-0.003418,0.044518,...,-0.038008,0.011303,-0.008277,-0.032612,0.004897,0.010290,-0.056550,-0.058010,-0.043492,-0.054497
targsubtype1,0.048798,0.048794,0.001508,-0.003184,0.022996,-0.014046,0.030704,-0.042050,-0.004049,0.040493,...,-0.032474,0.013889,-0.008252,-0.029691,0.009746,0.018527,-0.028861,-0.030089,-0.036703,-0.032169
natlty1,-0.019084,-0.019068,-0.004838,0.003845,0.013609,0.600020,0.149821,-0.003098,-0.000444,-0.034336,...,0.000778,0.001013,0.013383,-0.044804,-0.000624,0.002085,0.039458,0.050055,0.360373,0.147251
guncertain1,0.040647,0.040656,-0.004460,-0.002186,0.033464,-0.010369,-0.022758,-0.064413,0.000724,-0.009168,...,-0.022907,0.008971,-0.001232,-0.015794,-0.027394,0.016736,0.241616,0.239388,-0.004986,0.211408
individual,0.017939,0.017944,-0.001661,-0.003788,-0.008929,0.027918,-0.059963,0.040649,0.000114,-0.022631,...,-0.005194,0.008120,0.047439,-0.002330,0.006625,0.002133,-0.048526,-0.048542,0.005490,-0.037488
nperps,-0.137408,-0.137459,0.014354,-0.013527,-0.004691,-0.001057,-0.075037,-0.074284,-0.010808,-0.013259,...,0.102863,0.011773,0.010390,0.046737,0.031308,0.006270,0.019626,0.018407,0.004647,0.021176
nperpcap,0.428397,0.428278,0.019890,0.003300,0.015514,-0.059485,0.184063,-0.047718,0.237817,0.033602,...,0.006964,0.004264,-0.026109,0.007469,-0.001041,0.007983,-0.000354,0.001140,0.022354,0.003725
claimed,0.141600,0.141486,0.023083,0.004474,0.006779,-0.012704,0.003608,0.023153,0.001634,-0.009675,...,0.027430,0.004992,0.004434,0.021601,0.044824,-0.006631,0.169967,0.171639,0.015228,0.153785
weaptype1,-0.011716,-0.011737,0.007863,-0.003019,0.207802,-0.023708,0.013257,-0.011710,0.001582,0.064587,...,0.042380,-0.009799,-0.006482,0.032963,0.018999,0.139865,0.072941,0.074702,-0.011652,0.084257
weapsubtype1,0.101733,0.101727,0.002142,0.006182,-0.121002,-0.027315,0.092198,0.125507,0.003577,-0.088720,...,-0.036062,0.039002,0.003534,-0.041871,0.019320,-0.067914,-0.111675,-0.109029,0.003272,-0.095745
nkill,0.015351,0.015341,0.003463,-0.003693,0.027737,-0.014902,0.042062,-0.018124,-0.000562,0.022335,...,0.412111,0.534375,0.037278,0.141016,-0.016212,-0.002696,0.080787,0.083884,-0.014522,0.068140
nkillus,-0.013808,-0.013828,0.003891,-0.001987,-0.001488,0.005019,-0.014609,0.006274,-0.017416,-0.002158,...,0.004968,0.869376,0.420597,-0.000402,0.003936,0.007654,0.005259,0.006123,0.005230,0.007858
nkillter,0.027579,0.027563,0.003462,-0.002012,0.005409,-0.010125,0.026296,-0.003282,-0.004713,0.031097,...,1.000000,0.043307,0.000767,0.594125,-0.026890,-0.018963,0.103751,0.106814,-0.001387,0.098268
nwound,0.015282,0.015273,0.002938,-0.001268,-0.006627,-0.003530,0.020472,0.015988,0.000223,-0.015764,...,0.043307,1.000000,0.152278,0.038568,-0.013406,-0.001712,0.014692,0.015832,-0.003148,0.010745
nwoundus,-0.029348,-0.029357,0.001467,0.001392,-0.002017,0.005762,-0.020615,0.008132,-0.028440,-0.004464,...,0.000767,0.152278,1.000000,0.000225,0.004924,-0.000027,0.002343,0.003007,0.009961,0.005703
nwoundte,0.027904,0.027879,0.005091,0.001812,0.001592,-0.045330,-0.025643,0.021855,0.020186,0.047444,...,0.594125,0.038568,0.000225,1.000000,-0.012788,-0.010300,0.066046,0.065494,-0.004359,0.060831
property,-0.278927,-0.278916,-0.005816,-0.003903,-0.002096,0.032051,-0.183279,-0.084537,-0.001231,0.028111,...,-0.026890,-0.013406,0.004924,-0.012788,1.000000,0.018890,0.052445,0.047609,0.022058,0.065701
ishostkid,-0.010146,-0.010159,0.003397,0.004077,0.326351,-0.013335,-0.023058,-0.022468,0.000295,0.016048,...,-0.018963,-0.001712,-0.000027,-0.010300,0.018890,1.000000,0.035463,0.036875,0.017453,0.043566
INT_LOG,-0.143600,-0.143601,-0.002302,-0.001540,0.071768,0.069904,-0.082584,-0.099827,0.002272,0.073022,...,0.103751,0.014692,0.002343,0.066046,0.052445,0.035463,1.000000,0.996211,0.052537,0.891051
INT_IDEO,-0.133252,-0.133253,-0.002034,-0.001621,0.075147,0.067564,-0.071917,-0.094470,0.002268,0.071333,...,0.106814,0.015832,0.003007,0.065494,0.047609,0.036875,0.996211,1.000000,0.082014,0.893811
INT_MISC,-0.077852,-0.077847,-0.002554,-0.002027,0.027335,0.207281,0.043139,0.097652,0.000371,-0.019197,...,-0.001387,-0.003148,0.009961,-0.004359,0.022058,0.017453,0.052537,0.082014,1.000000,0.252193
INT_ANY,-0.175605,-0.175596,-0.006336,-0.001199,0.080767,0.153118,-0.047900,-0.041530,0.002497,0.061389,...,0.098268,0.010745,0.005703,0.060831,0.065701,0.043566,0.891051,0.893811,0.252193,1.000000

In [18]:
country=pd.DataFrame(df["country_txt"].value_counts())
print("Countries that are most affected by attacks:\n")
country.head(7)

Countries that are most affected by attacks:

             country_txt
Iraq               24636
Pakistan           14368
Afghanistan        12731
India              11960
Colombia            8306
Philippines         6908
Peru                6096

In [20]:
region=pd.DataFrame(df["region_txt"].value_counts())
print("Region that are most affected by attacks:\n")
region.head()

Region that are most affected by attacks:

                            region_txt
Middle East & North Africa       50474
South Asia                       44974
South America                    18978
Sub-Saharan Africa               17550
Western Europe                   16639

In [22]:
city=pd.DataFrame(df["city"].value_counts())
print("City that are most affected by attacks:\n")
city.head(7)

City that are most affected by attacks:

          city
Unknown   9775
Baghdad   7589
Karachi   2652
Lima      2359
Mosul     2265
Belfast   2171
Santiago  1621

In [27]:
years=pd.DataFrame(df["iyear"].value_counts())
years

      iyear
2014  16903
2015  14965
2016  13587
2013  12036
2017  10900
2012   8522
2011   5076
1992   5071
2010   4826
2008   4805
2009   4721
1991   4683
1989   4324
1990   3887
1988   3721
1984   3495
1994   3456
2007   3242
1997   3197
1987   3183
1995   3081
1996   3058
1985   2915
1983   2870
1986   2860
2006   2758
1979   2662
1980   2662
1981   2586
1982   2544
2005   2017
2001   1906
2000   1814
1978   1526
1999   1395
2002   1333
1977   1319
2003   1278
2004   1166
1998    934
1976    923
1975    740
1970    651
1974    581
1972    568
1973    473
1971    471

In [28]:
month=pd.DataFrame(df["imonth"].value_counts())
month

    imonth
5    16875
7    16268
8    15800
10   15563
6    15359
3    15257
4    15152
1    14936
11   14906
9    14180
2    13879
12   13496
0       20

In [30]:
attacks=pd.DataFrame(df["attacktype1_txt"].value_counts())
attacks

                                     attacktype1_txt
Bombing/Explosion                              88255
Armed Assault                                  42669
Assassination                                  19312
Hostage Taking (Kidnapping)                    11158
Facility/Infrastructure Attack                 10356
Unknown                                         7276
Unarmed Assault                                 1015
Hostage Taking (Barricade Incident)              991
Hijacking                                        659

In [31]:
lat=pd.DataFrame(df["latitude"].value_counts())
lat

            latitude
 33.303566      7521
 24.891115      2686
-11.967368      2401
 36.354145      2247
 54.607712      2189
...              ...
 32.956430         1
 5.626579          1
 19.343744         1
 34.793224         1
 31.979167         1

[48322 rows x 1 columns]

In [32]:
long=pd.DataFrame(df["longitude"].value_counts())
long

             longitude
 44.371773        7521
 67.143311        2686
-76.978462        2401
 43.143570        2247
-5.956210         2189
...                ...
 101.712719          1
 124.781605          1
 70.732778           1
 124.529002          1
 4.000000            1

[48039 rows x 1 columns]

In [34]:
target=pd.DataFrame(df["targtype1_txt"].value_counts())
target

                                targtype1_txt
Private Citizens & Property             43511
Military                                27984
Police                                  24506
Government (General)                    21283
Business                                20669
Transportation                           6799
Utilities                                6023
Unknown                                  5898
Religious Figures/Institutions           4440
Educational Institution                  4322
Government (Diplomatic)                  3573
Terrorists/Non-State Militia             3039
Journalists & Media                      2948
Violent Political Party                  1866
Airports & Aircraft                      1343
Telecommunication                        1009
NGO                                       970
Tourists                                  440
Maritime                                  351
Food or Water Supply                      317
Abortion Related                          263
Other                                     137

In [35]:
sub_target=pd.DataFrame(df["targsubtype1_txt"].value_counts())
sub_target.head()

                                                    targsubtype1_txt
Unnamed Civilian/Unspecified                                   11596
Police Security Forces/Officers                                11178
Military Unit/Patrol/Convoy                                     8277
Military Personnel (soldiers, troops, officers,...              7963
Government Personnel (excluding police, military)               6610

In [36]:
weapon=pd.DataFrame(df["weaptype1_txt"].value_counts())
weapon

                                                    weaptype1_txt
Explosives                                                  92426
Firearms                                                    58524
Unknown                                                     15157
Incendiary                                                  11135
Melee                                                        3655
Chemical                                                      321
Sabotage Equipment                                            141
Vehicle (not to include vehicle-borne explosive...            136
Other                                                         114
Biological                                                     35
Fake Weapons                                                   33
Radiological                                                   14

In [38]:
sub_weapon=pd.DataFrame(df["weapsubtype1_txt"].value_counts())
sub_weapon

                                           weapsubtype1_txt
Unknown Explosive Type                                44980
Unknown Gun Type                                      33137
Automatic or Semi-Automatic Rifle                     17412
Vehicle                                                9900
Projectile (rockets, mortars, RPGs, etc.)              9848
Other Explosive Type                                   7304
Handgun                                                6704
Grenade                                                5167
Landmine                                               4251
Arson/Fire                                             4141
Suicide (carried bodily by human being)                3245
Remote Trigger                                         2719
Knife or Other Sharp Object                            2585
Sticky Bomb                                            1594
Molotov Cocktail/Petrol Bomb                           1239
Dynamite/TNT                                           1222
Rifle/Shotgun (non-automatic)                          1175
Gasoline or Alcohol                                     844
Time Fuse                                               792
Pipe Bomb                                               625
Blunt Object                                            587
Letter Bomb                                             548
Hands, Feet, Fists                                      231
Pressure Trigger                                        219
Unknown Weapon Type                                     107
Rope or Other Strangling Device                         103
Other Gun Type                                           86
Poisoning                                                83
Explosive                                                65
Suffocation                                              10

In [39]:
df["success"].value_counts()

1    161632
0     20059
Name: success, dtype: int64

In [40]:
df["suicide"].value_counts()

0    175058
1      6633
Name: suicide, dtype: int64

conclusion:South Asian countries such as Iraq,Afghanistan,Pakistan,India where suffering from global terrorism
Most affected country:Iraq
Most affected region:Middle East and North Africa
Most affected city:Bagdad
Most affected year:2014
Most attack type:Bombing and Explosion
Weapons used:Explosives
They were succeed more no.of times in their attacks